<p style="color: green"><%= notice %></p>

<h1>Quotes</h1>

<div id="quotes">
  <% @quotes.each do |quote| %>
    <%= render quote %>
  <% end %>

  <% if @quotes.empty? %>
    <p style="color: red;">No quotes available.</p>
  <% end %>
</div>

<%= link_to "New quote", new_quote_path %>
