<p style="color: green"><%= notice %></p>

<h1>Quotes</h1>
<h2>5 Newest Quotes</h2>

<div id="quotes">
  <% @quotes.each do |quote| %>
    <%= render quote %>
    <p>
      <%= link_to "Show this quote", quote %>
    </p>
  <% end %>
</div>
